
a#newexampleproject-introLink img { background-image : url(Ernest_Logo.png); }
a#ernestdoc-introLink img { background-image : url(Ernest_Logo.png); }
a#ernestsimrepo-introLink img { background-image : url(Ernest_Logo.png); }
a#ernesteclipserepo-introLink img { background-image : url(Ernest_Logo.png); }
a#ernestesk-introLink img { background-image : url(Ernest_Logo.png); }