<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:ERNEST.ContextMenu?after=additions">
       <command
             commandId="de.fraunhofer.esk.ernest.core.cdt.generateSimulation"
             id="ERNEST.ContextMenu.GenerateSimulation"
             label="Generate Simulation"
             style="push">
       </command>
    </menuContribution>
 </extension>
<extension
      id="help_general"
      name="ernest_wiz_help"
      point="org.eclipse.help.contexts">

         <contexts file="help_contexts.xml">

         </contexts>
</extension>
<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer
         class="de.fraunhofer.esk.ernest.core.cdt.preferences.CDTPreferenceInitializer">
   </initializer>
</extension>
<extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="de.fraunhofer.esk.ernest.core.cdt.generateSimulation"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+E">
   </key>
</extension>
<extension
      point="org.eclipse.ui.commands">
   <category
         id="de.fraunhofer.esk.ernest.core.cdt.category"
         name="CDT Category">
   </category>
   <command
         categoryId="de.fraunhofer.esk.ernest.core.cdt.category"
         defaultHandler="de.fraunhofer.esk.ernest.core.cdt.commands.GenerateSimulationHandler"
         helpContextId="de.fraunhofer.esk.ernest.core.cdt.help_general"
         id="de.fraunhofer.esk.ernest.core.cdt.generateSimulation"
         name="Generate Simulation">
   </command>
</extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         category="de.fraunhofer.esk.ernest.core.analysis.framework.nestedPage"
         class="de.fraunhofer.esk.ernest.core.cdt.preferences.CDTPreferencePage"
         id="de.fraunhofer.esk.ernest.core.cdt.preferencepage"
         name="Simulation Wizard">
   </page>
</extension>
<extension
      point="org.eclipse.core.variables.dynamicVariables">
   <variable
         description="path to ERNEST includes"
         name="ERNEST_INCLUDE_PATH"
         resolver="de.fraunhofer.esk.ernest.core.cdt.DynamicVariableResolver"
         supportsArgument="false">
   </variable>
   <variable
         description="path to ERNEST libs"
         name="ERNEST_LIBRARY_PATH"
         resolver="de.fraunhofer.esk.ernest.core.cdt.DynamicVariableResolver"
         supportsArgument="false">
   </variable>
</extension>
</plugin>
